@import "../helpers/variables";


@keyframes loader-spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@keyframes changing-background {
    0% {background-position: top left};
    50% {background-position: bottom right};
    100% {background-position: top left};    
}

@keyframes bobbing {
    0% {transform: translateY(35px); }
    100% {transform: translateY(0); }
}