@import "../helpers/variables";


.card {
  box-shadow: $card-shadow;
  margin: 10px 40px;
  //flex: 1 1 auto;
}

.card > img {
margin-bottom: 1rem;
}

.card-body,
.card-footer {
  background: white;
  padding: 10px 50px 0 50px;
}
