

/*** Cover ***/
@media (min-width: 48em) {
    .masthead-brand {
      float: left;
    }
    .nav-masthead {
      float: right;
    }
  }
  
@media screen and (max-width: 500px) {
  nav {
    display: none;
  }
}

@media screen and (min-width: 790px) {
  .fancy-header {
    font-size: 10rem;
    // margin: 40% auto;
  }
}
