html {
 background: $white; 
}  

main, 
footer {
  color: black;
}

a,
a:focus,
a:hover {
  color: $white;
}

h1,
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: 'Nunito', sans-serif;
}

p {
  font-family: 'Nunito', serif;
}

.card,
.card > button {
  color: black;
  border: none;
  border-radius: 25px;
}

.card-header {
  font-size: 1.5rem;
}

.card-text {
  font-size: 1.3rem;
  line-height: 24px;
}

.card-footer {
  color: black;
}

.fancy-background {
  color: #fff;
}

.fancy-header h1 {
  font-size: 8rem;
}

footer p {
  font-size: 0.75rem;
}

.home-card-text {
  padding: 30px;
  text-align: left;
  height: 300px;
}