@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Lora');


@keyframes loader-spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}


/* Color Pallette*/
$tan: #e1cca2;
$grey: #e7e7e7;
$off-white: #f7f7f7;
$blue: #3A9BFC;


* {
  box-sizing:  border-box;
}
body {
  min-height: 100vh;
  min-height: 100%; /* fallback */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;
  flex-wrap: nowrap;
}

h1,
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: 'Nunito', sans-serif;
}

p {
  font-family: 'Lora', serif;
}

.album {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: $off-white;
}

.row-heading {
  text-align: center;
  width: 100%;
  padding: .75rem;
  margin: 0 auto;
  background: $blue;
  color: white;
  font-family: 'Nunito', sans-serif;
}
.row-note {
  text-align: center;
  width: 100%;
  padding: .25rem;
  margin: 0 auto;
  background: $tan;
  color: black;
}

.row-note p {
  text-align: center;
  width: 100%;
  padding: 0px;
  margin: 0 auto;
  color: black;
  font-family: 'Nunito', sans-serif;
}

.card {
  float: left;
  width: 100%;
  padding: .75rem;
  border: 1;
  border-radius: 3px;
  padding: 30px 20px 20px 20px;
}

.alt {
  background: $grey;
}

.card-template {
  visibility: hidden;
  justify-content: center;
}

.card > img {
  margin-bottom: 1rem;
}

.card-heading {
  font-size: 85%;
  text-align: center;
  font-size: 120%;
  font-family: 'Nunito', sans-serif;
}

.card-text {
  font-size: 85%;
  color: black;
  text-align: left;
  border: 0px;
  line-height: 20px;
  font-family: 'Lora', serif;
}

.card-stats {
  font-size: 65%;
  color: black;
  text-align: left;
  border: 0px;
  line-height: 0px;
  font-family: 'Nunito', sans-serif;
}

header {
  background-color: $blue;
  color: white;
  width: 100vw;
  // fallback
  width: 100%; 
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  height: 60px;
  padding: 10px;
  font-size: 18px;
  display: flex;
  position: fixed;
}

.header-button {
  height: 20px;
  width: 30px;
  margin-right: 16px;
  overflow: visible;
}

marquee {
  background-color: $tan;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  visibility: hidden;
}

.button {
    background-color: $blue;
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.75rem;
    float: right;
}

.loader {
  left: 50%;
  top: 50%;
  border: 8px solid $grey;
  border-top: 8px solid $blue;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin: 7% auto;
  animation: loader-spin 1s linear infinite;
}


.lora {
  font-family: 'Lora', serif;
}