/*------------------------------------------------------------------
[Master Stylesheet]

Project:    1Sum
Version:    1.0
Assigned to:    Cecilia C Constantine
Primary use:    Teams 
-------------------------------------------------------------------*/
/** 
* When watching a directory, the watcher will compile all files not prefixed with an underscore.
* Those files are partials and are just used for breaking up scss into digestible snippets for importation
*/
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css?family=Lora");
.button {
  background-color: #3A9BFC;
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.75rem;
}

.btn > a {
  text-decoration: none;
}

.btn-group {
  position: absolute;
  right: 30px;
  margin: 10px;
}

.btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.home-btn-add,
.home-btn-clear {
  width: 50%;
  border-radius: 0;
  border: 0;
}

/* Color Pallette*/
/* Box Shadow */
/* Backgrounds */
.card-group {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.card > img {
  margin-bottom: 1rem;
}

/* Color Pallette*/
/* Box Shadow */
/* Backgrounds */
@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  left: 50%;
  top: 50%;
  border: 8px solid #e7e7e7;
  border-top: 8px solid #3A9BFC;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin: 7% auto;
  animation: loader-spin 1s linear infinite;
}

/*** Cover ***/
@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito', sans-serif;
}

p {
  font-family: 'Nunito', serif;
}

.card,
.card > button {
  color: black;
  border: none;
  border-radius: 25px;
}

.card-header {
  font-size: 85%;
  font-size: 120%;
}

.card-text {
  font-size: 85%;
  line-height: 20px;
}

.card-footer {
  color: black;
}

/* Color Pallette*/
/* Box Shadow */
/* Backgrounds */
/***** FOOTER *****/
footer {
  text-align: center;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.cover-notepad-form {
  padding: 10px;
  border: none;
  outline: none;
  width: 100%;
}

.cover-notepad-form:focus {
  background: #f7f7f7;
}

/* Color Pallette*/
/* Box Shadow */
/* Backgrounds */
/***** GENERAL ******
*******************/
a,
a:focus,
a:hover {
  color: #fff;
}

h2 {
  display: inline;
}

.cover {
  height: 100vh;
  padding: 0 1.5rem;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  background: #107895;
}

.cover-container {
  max-width: 42em;
}

/***** HEADER ******
*******************/
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

main {
  margin-top: 10%;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

/***** NOTEPAD ******
*******************/
.home-card-footer {
  display: inline-flex;
  padding: 0;
  border: 0;
}

.home-card-text {
  padding: 30px;
  text-align: left;
  height: 300px;
}

.home-notepad {
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.6);
}

/* Color Pallette*/
/* Box Shadow */
/* Backgrounds */
.login {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #107895;
}

.login-wrapper {
  background: white;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.6);
}
/*# sourceMappingURL=main.css.map */