@import "../helpers/variables";

.login {
  background: $blue;
  color: $white;
  width: 100vw;
  height: 100%;
  height: 100vh;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 2rem;
}

.loader {
  left: 50%;
  top: 50%;
  border: 8px solid $grey;
  border-top: 8px solid $blue;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin: 7% auto;
  animation: loader-spin 1s linear infinite alternate-reverse;
}


/***** LOGIN FORM ******
*******************/
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}


.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
