@import "../helpers/variables";

.login {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: $cool-background;
}

.login-wrapper {
  background: white;
  //box-shadow: 0px 8px 48px -1px #000;
  box-shadow: $container-shadow;
}

.loader {
  left: 50%;
  top: 50%;
  border: 8px solid $grey;
  border-top: 8px solid $blue;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin: 7% auto;
  animation: loader-spin 1s linear infinite alternate-reverse;
}