@import "../helpers/variables";


.card-group {
  box-shadow: $box-shadow;
}

.card > img {
margin-bottom: 1rem;
}

.home-card-footer {
  display: inline-flex;
  padding: 0;
  border: 0;
}

.home-card-text {
  padding: 30px;
  text-align: left;
  height: 300px;
}

