@import "../helpers/variables";


@keyframes loader-spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}


.loader {
    left: 50%;
    top: 50%;
    border: 8px solid $grey;
    border-top: 8px solid $blue;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    margin: 7% auto;
    animation: loader-spin 1s linear infinite;
}