h1,
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: 'Nunito', sans-serif;
}

p {
  font-family: 'Nunito', serif;
}

.card,
.card > button {
  color: black;
  border: none;
  border-radius: 25px;
}

.card-header {
  font-size: 85%;
  font-size: 120%; 
}

.card-text {
  font-size: 85%;
  line-height: 20px;
}

.card-footer {
  color: black;
}
