h1,
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: 'Nunito', sans-serif;
}

p {
  font-family: 'Nunito', serif;
}


.card {
  color: black;
}
.card-header {
  font-size: 85%;
  font-size: 120%; 
}

.card-text {
  font-size: 85%;
  text-align: left;
  border: 0px;
  line-height: 20px;
}
  
.card-footer {
  font-size: 65%;
  text-align: left;
  border: 0px;
  line-height: 0px;
} 