/*------------------------------------------------------------------
[Master Stylesheet]

Project:    1Sum
Version:    1.0
Last change:    1/30/18 [fixed Float bug, vf]
Assigned to:    Cecilia C Constantine
Primary use:    Teams 
-------------------------------------------------------------------*/


// @import "reset.css";
// @import "layout.css";
// @import "colors.css";
// @import "typography.css";
// @import "main.css";
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Lora');


@keyframes loader-spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

/* Color Pallette*/
$tan: #e1cca2;
$grey: #e7e7e7;
$off-white: #f7f7f7;
$blue: #3A9BFC;

* {
  box-sizing:  border-box;
}

body {
  min-height: 100vh;
  min-height: 100%; /* fallback */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;
  flex-wrap: nowrap;
}

h1,
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: 'Nunito', sans-serif;
}

p {
  font-family: 'Lora', serif;
}

main {
  // height: 100vh;
  // width: 100vw;
  background-color: $blue;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}
header {
  color: white;
  width: 100vw;
  // fallback
  width: 100%; 
  padding: 10px 20px;
  font-size: 18px;
  display: flex;
}

.social-icons {
  color: $blue;
  float: right;
}
  ul li a {
    padding: 15px;
  }
  li {
    text-decoration: none;
    display: inline;
  }